<%- include('partials/header') %> 

<h1>Compose</h1>
<div class="form-group">
<form action="/compose" method="post">

    <label for="Post Title">Post Title:</label>
    <input type="text"  name="JournalTitle" class="form-control" placeholder="Insert Journal Title Here" autocomplete="off">
    
    <label for="Post Content">Post Content:</label>
    <textarea class="form-control" rows="5" name="JournalContent" placeholder="Insert inciteful Post Content Here"></textarea>
    
    
    
    
    
    
    
    
    
    <button class="btn btn-dark" type="submit">Publish</button>

</form>
</div>

<%- include('partials/footer') %>  